.main-navbar-container {
    height: 4rem;
    color: white;
    padding: 0.6rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.6);
}

.links-container {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.links {
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    display: block;
}

.link-react-router {
    text-decoration: none;
}

.active{
    color: rgb(240, 240, 200);
}

.menu-button {
    display: none;
}

@media (max-width: 576px) {

    .main-navbar-container{
        margin-bottom: 2rem;
    }

    .menu-button {
        display: inline-flex;
        cursor: pointer;
    }

    .links-container {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: calc(100% - 4rem);
        top: 5.1rem;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .4s;
        padding: 2rem;
    }

    .hidden {
        top: -100vh;
    }

}