* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: "https://wallpaperstock.net/wallpapers/thumbs1/17618.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

